{% extends 'shared/base.html' %}
{% load humanize %}
{% block title %}{{league.title}}{% endblock %}

{% block content %}
<div class="border-bottom mb-2">
    <h1>{{portfolio.name}}</h1>
    <h3 class="mb-2">
        League: <a href="{% url 'view_league' id=portfolio.league.id %}">
            {{portfolio.league.name}}
        </a>
    </h3>
    <p class="mb-1">
        Created {{league.created|naturalday}} by
        <a href="{% url 'user' name=portfolio.user.username %}">
            {{portfolio.user.username}}
        </a>.
    </p>
</div>

{% if user == portfolio.user %}
<a href="{% url 'edit_portfolio' id=portfolio.id %}" class="btn btn-primary my-3" role="button">Edit</a>
<a href="{% url 'delete_portfolio' id=portfolio.id %}" class="btn btn-danger my-3" role="button">Delete</a>
{% endif %}

{% include '../components/assets_list.html' with assets=assets %}

{% include '../components/transactions_list.html' with txns=txns %}

{% endblock %}