{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}asset | {{info.symbol}}{% endblock %}
{% block content %}
<h2><a href="https://finance.yahoo.com/quote/{{info.symbol}}">{{info.symbol}}</a></h2>
<small>{{info.longName}}</small>
{% if user.is_authenticated %}
{% if is_following %}
<button id="follow-btn" class="btn btn-danger" data-ticker="{{ticker}}" data-name="{{info.longName}}">
    Unfollow
</button>
{% else %}
<button id="follow-btn" class="btn btn-primary" data-ticker="{{ticker}}" data-name="{{info.longName}}">
    Follow
</button>
{% endif %}
{% endif %}
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg">
            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" name="buy-btn" class="btn btn-success">Buy</button>
                <button type="submit" name="sell-btn" class="btn btn-danger">Sell</button>
            </form>
            {% else %}
            You need to log in to buy an asset.
            {% endif %}
        </div>
        <div class="col-lg">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th scope="row">Price</th>
                            <td>${{info.regularMarketPrice|floatformat:2|intcomma}}
                                <span
                                    style="color: {% if info.regularMarketChange >= 0 %}green{% else %}red{% endif %};">
                                    {{info.regularMarketChange|floatformat:2|intcomma}}
                                    ({{info.regularMarketChangePercent|floatformat:2|intcomma}}%)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Previous close</th>
                            <td>${{info.previousClose|floatformat:2|intcomma}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Open</th>
                            <td>${{info.open|floatformat:2|intcomma}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Day's range</th>
                            <td>${{info.dayLow|floatformat:2|intcomma}} - ${{info.dayHigh|floatformat:2|intcomma}}</td>
                        </tr>
                        <tr>
                            <th scope="row">52 week range</th>
                            <td>${{info.fiftyTwoWeekLow|floatformat:2|intcomma}} -
                                ${{info.fiftyTwoWeekHigh|floatformat:2|intcomma}}</td>
                        </tr>
                        <tr>
                            <th scope="row">PE ratio</th>
                            <td>{{info.trailingPE|floatformat:2}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Exchange</th>
                            <td>{{info.fullExchangeName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-5">
                <h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" fill="currentColor" class="bi bi-newspaper"
                        viewBox="0 0 16 16">
                        <path
                            d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z" />
                        <path
                            d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z" />
                    </svg>
                    News articles
                </h3>
                {% include '../components/news_list.html' with news=news %}
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const followButton = document.getElementById('follow-btn');
        const ticker = followButton.getAttribute('data-ticker');
        const name = followButton.getAttribute('data-name');
        followButton.addEventListener('click', function () {
            fetch(`/follow/${ticker}/${name}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.action === 'followed') {
                        followButton.textContent = 'Unfollow';
                        followButton.classList.remove('btn-primary');
                        followButton.classList.add('btn-danger');
                    } else if (data.action === 'unfollowed') {
                        followButton.textContent = 'Follow';
                        followButton.classList.remove('btn-danger');
                        followButton.classList.add('btn-primary');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>
{% endblock %}