{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}asset | {{info.symbol}}{% endblock %}
{% block content %}
<h2><a href="https://finance.yahoo.com/quote/{{info.symbol}}">{{info.symbol}}</a></h2>
<small>{{info.longName}}</small>
{% if user.is_authenticated %}
{% if is_following %}
<button id="follow-btn" class="btn btn-danger" data-ticker="{{ ticker }}">
    Unfollow
</button>
{% else %}
<button id="follow-btn" class="btn btn-primary" data-ticker="{{ ticker }}">
    Follow
</button>
{% endif %}
{% endif %}
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg">
            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" name="buy-btn" class="btn btn-success">Buy</button>
                <button type="submit" name="sell-btn" class="btn btn-danger">Sell</button>
            </form>
            {% else %}
            You need to log in to buy an asset.
            {% endif %}
        </div>
        <div class="col-lg">
            <table class="table table-responsive table-striped table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Price</th>
                        <td>${{info.regularMarketPrice|floatformat:2|intcomma}}
                            <span style="color: {% if info.regularMarketChange >= 0 %}green{% else %}red{% endif %};">
                                {{info.regularMarketChange|floatformat:2|intcomma}}
                                ({{info.regularMarketChangePercent|floatformat:2|intcomma}}%)
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Previous close</th>
                        <td>${{info.previousClose|floatformat:2|intcomma}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Open</th>
                        <td>${{info.open|floatformat:2|intcomma}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Day's range</th>
                        <td>${{info.dayLow|floatformat:2|intcomma}} - ${{info.dayHigh|floatformat:2|intcomma}}</td>
                    </tr>
                    <tr>
                        <th scope="row">52 week range</th>
                        <td>${{info.fiftyTwoWeekLow|floatformat:2|intcomma}} -
                            ${{info.fiftyTwoWeekHigh|floatformat:2|intcomma}}</td>
                    </tr>
                    <tr>
                        <th scope="row">PE ratio</th>
                        <td>{{info.trailingPE|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Exchange</th>
                        <td>{{info.fullExchangeName}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-5">
                <h3 class="pb-2 border-bottom">News articles</h3>
                {% include '../components/news_list.html' with news=news %}
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const followButton = document.getElementById('follow-btn');
        const ticker = followButton.getAttribute('data-ticker');
        followButton.addEventListener('click', function () {
            fetch(`/follow/${ticker}/`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.action === 'followed') {
                        followButton.textContent = 'Unfollow';
                        followButton.classList.remove('btn-primary');
                        followButton.classList.add('btn-danger');
                    } else if (data.action === 'unfollowed') {
                        followButton.textContent = 'Follow';
                        followButton.classList.remove('btn-danger');
                        followButton.classList.add('btn-primary');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>
{% endblock %}