{% extends 'shared/base.html' %}
{% load humanize %}
{% block title %}populat assets{% endblock %}
{% block content %}
<div class="my-3">
    <h2 class="pb-2 border-bottom">Popular assets</h2>
    {% if followed %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Number of users</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in followed %}
            <tr>
                <td>
                    <a href="{% url 'asset' ticker=asset.ticker %}">
                        {{asset.ticker}}
                    </a>
                </td>
                <td>{{asset.follow_count|intcomma}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include '../components/pagination.html' with page=followed page_query="follow-page" %}
    {% else %}
    <p class="fst-italic fw-light">No followed assets found.</p>
    {% endif %}
</div>
{% endblock %}