{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}user | {{user.username}}{% endblock %}
{% block content %}

<div class="border-bottom mb-2">
    <h1>{{user.username}}</h1>
    <p class="mb-2">Joined {{user.date_joined|naturalday}}</p>
</div>

<div class="my-3">
    <h2>Portfolios</h2>
    {% include '../components/portfolios_list.html' with portfolios=portfolios %}
</div>

<div class="my-3">
    <h2>Leagues</h2>
    {% include '../components/leagues_list.html' with leagues=leagues %}
</div>
{% endblock %}