{% extends 'shared/base.html' %}
{% load humanize %}
{% block title %} | league | {{league.name}}{% endblock %}

{% block content %}
<div class="border-bottom mb-2">
    <h1>{{league.name}}</h1>
    <h3 class="mb-2">{{league.description}}</h3>
    <p class="mb-1">
        Created {{league.created|naturalday}} by
        <a href="{% url 'user' name=league.author.username %}">{{league.author.username}}</a>.
    </p>
</div>

{% if has_access %}
<a href="{% url 'create_portfolio' league_id=league.id %}" class="btn btn-primary my-3" role="button">
    Create portfolio
</a>
{% if not league.is_default %}
<a href="{% url 'invite' league_id=league.id %}" class="btn btn-primary my-3" role="button">
    Invite user
</a>
{% endif %}
{% endif %}

{% if user == league.author and not league.is_default %}
<a href="{% url 'edit_league' id=league.id %}" class="btn btn-primary my-3" role="button">Edit</a>
{% endif %}

<div class="my-3">
    <h2>Portfolios</h2>
    {% include '../components/portfolios_list.html' with portfolios=portfolios page_query="portfolios-page" %}
</div>

<div class="my-3">
    <h2>Users</h2>
    {% include '../components/users_list.html' with users=users %}
</div>

{% endblock %}