{% extends 'shared/base.html' %}
{% load humanize %}
{% block title %}league | {{league.name}}{% endblock %}

{% block content %}
<div class="border-bottom mb-2">
    <h1>{{league.name}}</h1>
    <h3 class="mb-2">{{league.description}}</h3>
    <p class="mb-1">
        Created {{league.created|naturalday}} by
        <a href="/user/{{league.author.username}}">{{league.author.username}}</a>.
    </p>
</div>

<a href="{% url 'create_portfolio' league_id=league.id %}" class="btn btn-primary my-3" role="button">
    Create portfolio
</a>

{% if user == league.author %}
<a href="{% url 'invite' league_id=league.id %}" class="btn btn-primary my-3" role="button">
    Invite user
</a>
<a href="{% url 'edit_league' id=league.id %}" class="btn btn-primary my-3" role="button">Edit</a>
<a href="{% url 'delete_league' id=league.id %}" class="btn btn-danger my-3" role="button">Delete</a>
{% endif %}

{% include '../components/portfolios_list.html' with portfolios=portfolios %}

{% include '../components/users_list.html' with users=users %}

{% endblock %}