{% extends 'shared/base.html' %}
{% block title %} | Not found{% endblock %}
{% block content %}
<div>
  <pre>

  _  _    ___  _  _                 _      __                       _ 
 | || |  / _ \| || |    _ __   ___ | |_   / _| ___  _   _ _ __   __| |
 | || |_| | | | || |_  | '_ \ / _ \| __| | |_ / _ \| | | | '_ \ / _` |
 |__   _| |_| |__   _| | | | | (_) | |_  |  _| (_) | |_| | | | | (_| |
    |_|  \___/   |_|   |_| |_|\___/ \__| |_|  \___/ \__,_|_| |_|\__,_|
                                                                      
 
  </pre>
</div>
{% endblock %}