{% load humanize %}

<h2>Assets</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Quantity</th>
            <th scope="col">Value</th>
            <th scope="col">Total value</th>
            {% if user == portfolio.user %}
            <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for asset in assets %}
        <tr>
            {% if asset.is_currency %}
            <td>Cash / $USD</td>
            <td> </td>
            <td> </td>
            <td>{{asset.value|intcomma}}</td>
            {% else %}
            <td>
                <a href="{% url 'asset' ticker=asset.ticker %}">
                    {{asset.ticker}}
                </a>
            </td>
            <td>{{asset.quantity}}</td>
            <td>${{asset.value|intcomma}}</td>
            <td>${{asset.total_value|intcomma}}</td>
            {% if user == portfolio.user %}
            <td>
                <a href="{% url 'delete_portfolio' id=portfolio.id %}" class="btn btn-danger my-3"
                    role="button">Sell</a>
            </td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>