{% load humanize %}

{% if leagues %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Start value</th>
                <th scope="col">Portfolios</th>
                <th scope="col">Users</th>
                <th scope="col">Author</th>
                <th scope="col">Created</th>
            </tr>
        </thead>
        <tbody>
            {% for league in leagues %}
            <tr>
                <td>
                    <a href="{% url 'view_league' id=league.id %}">
                        {{league.name}}
                    </a>
                </td>
                <td>{{league.description}}</td>
                <td>${{league.start_value|floatformat:2|intcomma}}</td>
                <td>{{league.num_portfolios}}</td>
                <td>{{league.num_users}}</td>
                <td>
                    <a href="{% url 'user' name=league.author.username %}">
                        {{league.author.username}}
                    </a>
                </td>
                <td>{{league.created|naturalday}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include './pagination.html' with page=leagues page_query="leagues-page" %}
{% else %}
<p class="fst-italic fw-light">No leagues found.</p>
{% endif %}