{% load humanize %}
{% load timestamp %}
{% if news %}
<div class="list-group">
    {% for a in news %}
    <a href="{{a.link}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{a.title}}</h5>
            <small class="text-body-secondary">{{a.providerPublishTime|timestamp|naturalday}}</small>
        </div>
        <small class="text-body-secondary">{{a.publisher}}</small>
    </a>
    {% endfor %}
</div>
</table>
{% include './pagination.html' with page=users page_query="users-page" %}
{% else %}
<p class="fst-italic fw-light">None found.</p>
{% endif %}