{% load humanize %}

{% if txns %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Quantity</th>
                <th scope="col">Value</th>
                <th scope="col">Value per item</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for txn in txns %}
            <tr>
                <td>
                    <a href="{% url 'asset' ticker=txn.ticker %}">
                        {{txn.ticker}}
                    </a>
                </td>
                <td>{{txn.quantity}}</td>
                <td style="color: {% if txn.is_purchase %}green{% else %}red{% endif %};">
                    ${{txn.total_value|floatformat:2|intcomma}}
                </td>
                <td style="color: {% if txn.is_purchase %}green{% else %}red{% endif %};">
                    ${{txn.value|floatformat:2|intcomma}}
                </td>
                <td>{{txn.created|naturalday}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include './pagination.html' with page=txns page_query="txns-page" %}
{% else %}
<p class="fst-italic fw-light">
    No transactions found.
    {% if is_author %}
    You can search for an asset to transact <a href="{% url 'search' %}">here</a>, or in the navbar at the top of the
    page.
    {% endif %}
</p>
{% endif %}